<main>
  <h1 id="title">Join Recipe Blog : Be a Recipe Blogger</h1>
</main>


<form method="post" action="/register">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Register">
</form> 