<div class="navbar">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="/users/user_profile">Your Profile</a></li>
  <li><a href="/contact">Contact Us</a></li>
  <li><a href="/users">Our All Bloggers</a></li>
</div>

<hr>



