<div class="navbar">
  <a href="/">Home</a>
  <a href="/about">About Us</a>
  {{#if user }}
    <a href="/user_profile">Your Profile</a>
  {{else}}  
    <a href="/register">Register</a>
  {{/if}}  
  <a href="/contact">Contact Us</a>
  <a href="/users">Our All Bloggers</a>
</div>





