<main>
  <h1 id="title">{{{ title }}}</h1>
    <div class="contact">
      <form>
        
          <label for="name">Full Name:</label><br>
          <input name="name" id="name">
          <br>
       
          <label for="email">Email:</label><br>
          <input name="email" id="email">
          <br>
       
          <label for="message">Message:</label><br>
          <input name="message" id="message">
          <br>
          <button type="submit" name="submit">Submit</button><br>
          <button type="reset" name="reset">Reset</button>
       
      </form>
  </div>
</main>