<main>
  {{#if user }}
    <h1 id="title">Welcome {{{ user.name }}}</h1>
  {{else}}
    <h1 id="title">Welcome.  Please <a href="/register">Register</a> and <a href="/login">Login</a> to create your Profile</h1>
  {{/if}}  
  {{#if user }}
    <div class="welcome_part button">
      <a href="/logout">Logout</a>
    </div>
  {{else}}  
    <div class="welcome_part button">
      <a href="/login">Login</a>
    </div>
    <div class="welcome_part button">
      <a href="/register">Register</a>
    </div>
  {{/if}}
</main>
  
