<main>
  <h1 id="title">{{{ title }}}</h1>
  {{#if user }}
    <div class="welcome_part button">
      <a href="/users/logout">Logout</a>
    </div>
  {{else}}  
    <div class="welcome_part button">
      <a href="/users/login">Login</a>
    </div>
    <div class="welcome_part button">
      <a href="/users/register">Register</a>
    </div>
  {{/if}}
</main>
  
