@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  background-color: rgb(231, 236, 245);
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

h1 {
  color: rgb(4, 2, 26);
}

image {
  width: 10px;
  padding-bottom: 10px;
}

.navbar {
  background-color: rgb(163, 187, 233);
  margin: 0;
  padding: 3vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.navbarParts {
  flex-flow: row;
  text-align: center;
}
a {
  color: rgb(21, 71, 73);
  text-decoration: none;
  padding: 5px 10px;
}
.auth {
  color: rgb(28, 28, 122);
}

footer {
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  left: calc(50% + 100px);
  text-align: center;
  padding: 10px 0;
}
